* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  /* aspect-ratio: 3/3; */
  height: 500px;
  width: 500px;
  background: rgb(203, 218, 123);
  padding: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.header > h2 {
  font-size: 32px;
  margin-top: -40%;
}

.header input {
  margin-top: 40px;
  height: 12px;
  margin-left: 30%;
  margin-right: 4px;
  cursor: pointer;
}

p {
  font-size: 24px;
  font-weight: 300px;
  margin-bottom: 30px;
}

.showdate {
  margin-bottom: 30px;
}

.footer {
  margin: 16px;
}

.footer > button {
  height: 28px;
  width: 60px;
  border: none;
  cursor: pointer;
  margin: 4px;
  background: black;
  color: aliceblue;
  border-radius: 8px;
  /* font-size: 20px; */
}

.footer > input {
  height: 28px;
  border: none;
  text-indent: 8px;
  font-size: 16px;
}

.reset {
  margin-top: 10px;
}

.reset > button {
  height: 40px;
  width: 120px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: black;
  color: aliceblue;
}

button:hover {
  color: rgb(255, 255, 255);
  background: rgb(34, 31, 31);
}
